mat-card-header {
  margin-bottom: 24px; /* space between header (name/email) and content */
}

mat-card-content {
  h3 {
    margin-top: 0;
    margin-bottom: 16px; /* space between “Enrolled Courses” title and list */
  }
}

mat-list-item {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12); /* subtle separator */
}

mat-icon[matListAvatar] {
  width: 32px;
  height: 32px;
  line-height: 30px;
}

.student-item {
  display: flex;
  align-items: center;
  max-width: 210px;
}
