<h1 appHighlight>Students</h1>

<ng-container *ngIf="isLoading; else notLoading">
  <p>Cargando...</p>
</ng-container>

<ng-template #notLoading>
  <form
    *ngIf="(authUser$ | async)?.role === 'admin'"
    [formGroup]="studentForm"
    class="w-100"
    (ngSubmit)="onSubmit()"
  >
    <mat-chip-set
      *ngIf="isEditingId"
      [attr.aria-label]="'Editing student with ID ' + isEditingId"
      role="status"
      aria-live="polite"
    >
      <mat-chip>Editing student with ID: {{ isEditingId }}</mat-chip>
    </mat-chip-set>
    <div class="row">
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>First Name</mat-label>
          <input formControlName="firstName" matInput class="w-100" />
          <mat-error *ngIf="firstName?.hasError('required') && submitted">
            First name is required
          </mat-error>
          <mat-error *ngIf="firstName?.hasError('minlength') && submitted">
            Minimum 2 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>Last Name</mat-label>
          <input formControlName="lastName" matInput class="w-100" />
          <mat-error
            *ngIf="
              lastName?.hasError('required') && lastName?.touched && submitted
            "
          >
            Last name is required
          </mat-error>
          <mat-error
            *ngIf="
              lastName?.hasError('minlength') && lastName?.touched && submitted
            "
          >
            Minimum 2 characters
          </mat-error></mat-form-field
        >
      </div>
      <div class="col-4">
        <mat-form-field class="w-100">
          <mat-label>Email</mat-label>
          <input formControlName="email" matInput class="w-100" />
          <mat-error
            *ngIf="email?.hasError('required') && email?.touched && submitted"
          >
            Email is required
          </mat-error>
          <mat-error
            *ngIf="email?.hasError('email') && email?.touched && submitted"
          >
            Invalid email format
          </mat-error></mat-form-field
        >
      </div>
      <div class="col-12 d-flex justify-content-end mt-3">
        <button mat-flat-button type="submit">Save</button>
      </div>
    </div>
  </form>

  <app-students-table
    (editStudent)="onEditStudent($event)"
    (deleteStudent)="onDeleteStudent($event.toString())"
    [dataSource]="students"
  />
</ng-template>
