<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="loginForm" class="grid formgrid">
      <mat-form-field class="col-12">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
      <mat-form-field class="col-12">
        <mat-label>Password</mat-label>
        <input formControlName="password" matInput type="password" />
      </mat-form-field>
      <div class="col-12 d-flex justify-content-end">
        <button
          mat-raised-button
          color="primary"
          (click)="login()"
          type="button"
        >
          Login
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="register()"
          type="button"
        >
          Sign Up
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
