mat-card-header {
  margin-bottom: 24px;
}

mat-card-content {
  h3 {
    margin-top: 0;
    margin-bottom: 16px;
  }
}

mat-list-item {
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

mat-icon[matListAvatar] {
  width: 32px;
  height: 32px;
  line-height: 30px;
}

.course-item {
  display: flex;
  align-items: center;
  max-width: 250px;
}
